body {
    font-size: 62.5%;
    background-color: aliceblue
}

h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.3rem;
}

.row {
    font-size: 1.4rem;
}

a {
    margin-right: 1.5rem;
    text-decoration: none;
    color: rgba(13, 110, 253, 255);
    font-weight: 600;
    font-size: 1.4rem;
}

a:hover {
    color: rgb(91, 144, 219);
}

#footer_text {
    font-size: 1.2rem;
    text-align: center;
}

img {
    border: solid black 1px;
    margin: 10px;
}